<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ws_tab" translate="label" sortOrder="110">
            <label>WS Extensions</label>
        </tab>
        <section id="ws_customer" translate="label" type="text" sortOrder="8888" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Customer</label>
            <tab>ws_tab</tab>
            <resource>Ws_Customer::options</resource>
            <group id="ws_form" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Customer account registration form</label>
                <field id="ws_enable_group" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Show Group</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Select Yes or NO</comment>
                </field>
                <field id="ws_groups" translate="label comment" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Groups</label>
                    <source_model>Magento\Customer\Model\ResourceModel\Group\Collection</source_model>
                    <comment>Select groups to enable in new customer account form</comment>
                </field>
                <field id="ws_enable_privacy" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Show Terms and Conditions</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Select Yes or NO</comment>
                </field>
                <field id="ws_show_privacy" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Rule to show</label>
                    <comment>Insert number of Terms and Conditions to show</comment>
                </field>
            </group>
        </section>
    </system>
</config>